
.servants.panel(ng-controller="ServantsController",
                ng-show="panel == 'servants'")
  .title.sixteen.columns Servants

  .servant.eight.columns(ng-controller="ServantController",
                         ng-repeat="servantData in list")

    div.clearfix(ng-init="index = $index")
      h5.id.pull-left {{ id }} - ({{ index }})
      button.id.pull-right(ng-click="toggle()", ng-bind="visible && 'Close' || 'Open'")
    .content(ng-show="visible")

      .exec
        input(ng-model="cmd")
        button(ng-click="exec()") Execute

      include servants/processes
      
      .capabilities
        .cap-title Capabilities
        .cap.four.columns(ng-repeat="cap in capabilities", ng-class="cap.version && 'yes' || 'no'")
          span {{ cap.prog }} 
          span(ng-show='cap.version') - {{ cap.version }}
          