<!DOCTYPE html>
<html>
  <head>
    <title>King</title>
    <link rel="stylesheet" href="css/app.css">
    <style>[ng-cloak] { display: none; }</style>
  </head>
  <body ng-app="king-webui" ng-cloak="ng-cloak">
    <div class="header container clearfix">
      <h2 class="pull-left">King</h2>
      <div class="buttons">
        <button ng-click="$root.panel = 'config'" class="pull-right">Config</button>
        <button ng-click="$root.panel = 'servants'" class="pull-right"> Servants</button>
      </div>
    </div>
    <div class="panels container">
      <div ng-controller="ConfigController" ng-show="panel == 'config'" class="config panel">
        <div class="title sixteen columns">Config</div>
      </div>
      <div ng-controller="ServantsController" ng-show="panel == 'servants'" class="servants panel">
        <div class="title sixteen columns">Servants</div>
        <div ng-controller="ServantController" ng-repeat="servantData in list" class="servant eight columns">
          <div ng-init="index = $index" class="clearfix">
            <h5 class="id pull-left">{{ id }} - ({{ index }})</h5>
            <button ng-click="toggle()" ng-bind="visible &amp;&amp; 'Close' || 'Open'" class="id pull-right"></button>
          </div>
          <div ng-show="visible" class="content">
            <div class="exec">
              <input ng-model="cmd">
              <button ng-click="exec()">Execute</button>
            </div>
            <div ng-show="processes.length &gt; 0" class="processes">
              <div class="proc-title">Processes</div>
              <div ng-repeat="proc in processes" ng-controller="ProcessController" class="proc">
                <div class="proc-name">{{ proc.cmd }}</div>
                <pre ng-show="proc.stdout" class="proc-out output">{{ proc.stdout }}</pre>
                <pre ng-show="proc.stderr" class="proc-err output">{{ proc.stderr }}</pre>
                <pre ng-show="proc.error" class="proc-err output">{{ proc.error }}</pre>
              </div>
            </div>
            <div class="capabilities">
              <div class="cap-title">Capabilities</div>
              <div ng-repeat="cap in capabilities" ng-class="cap.version &amp;&amp; 'yes' || 'no'" class="cap four columns"><span>{{ cap.prog }} </span><span ng-show="cap.version">- {{ cap.version }}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.3.1/lodash.min.js"></script>
    <script src="js/bundle.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>